## Lists

Python doesn't have arrays like in C++ or Java. To hold the sequence of values, Python has 'List' class. List can hold  different data types as values though usually values with same data type are inserted.

Lists are mutable in Python i.e., We can modify an element in a list and Python will not create a new list if we modify an element of the list.

Python list is enclosed between square([]) brackets and elements are stored in the index basis with starting index 0. it is a list of comma-separated values (items) between square brackets

In [ ]:
#Empty list

basic_empty_list = []
print(basic_empty_list)

In [ ]:
# Create a list by putting different comma-separated values between square brackets
# List can accept multiple data types

super_heroes = ['Iron Man','Thor', 'Hulk', 'Captain America', 'Spyder Man', 4, 6.7]
print(super_heroes)

In [29]:
newlist = [4,3,2,3,4,7,3,1,5,2,4,5,2,5]
newlist.index(2,2)

2

In [3]:
#Add two lists

super_heroes + [36, 49, 64, 81, 100]

['Iron Man',
 'Thor',
 'Hulk',
 'Captain America',
 'Spyder Man',
 4,
 6.7,
 36,
 49,
 64,
 81,
 100]

In [4]:
# Access first value in the list. Indexing in List starts from 0  i.e. 0,1,2,3,4.....

print(super_heroes[0])

Iron Man

In [5]:
# Access from second value till third value in the list. List[start:end]  Start index in inclusive and end index is exclusive.

print(super_heroes[1:3])

['Thor', 'Hulk']

In [6]:
# Access from first value till second value in the list.

print(super_heroes[0:2])

['Iron Man', 'Thor']

In [7]:
# Backward indexing. -1 denotes first value when we do indexing from backward

print(super_heroes[-1])

6.7

In [8]:
# From third value(Index 2) till last value

print(super_heroes[2:])

['Hulk', 'Captain America', 'Spyder Man', 4, 6.7]

In [9]:
# From first value till third from the other side

print(super_heroes[ : -3])

['Iron Man', 'Thor', 'Hulk', 'Captain America']

In [10]:
#Appending a new value to the list. it gets added to the end of the list but next time when you access order is not guaranteed

super_heroes = ['Bat Man','Super Man', 'Krish', 'Vision', 4]
super_heroes.append('Sakthi Man')
print(super_heroes)

['Bat Man', 'Super Man', 'Krish', 'Vision', 4, 'Sakthi Man']

In [11]:
#Select and remove the latest inserted value from the list

super_heroes.pop()

'Sakthi Man'

In [12]:
print(super_heroes)

['Bat Man', 'Super Man', 'Krish', 'Vision', 4]

In [13]:
#Remove the indexed value from the list.  Here index = 0 value (Batman) gets deleted

super_heroes.pop(0) 
print(super_heroes)

['Super Man', 'Krish', 'Vision', 4]

In [15]:
#Remove the indexed value from the list. Here index = 1 value (Krish) gets deleted

super_heroes.pop(1)
print(super_heroes)

['Super Man', 4]

In [16]:
#Removing an element from the list

super_heroes.append('Black Panther')
print(super_heroes)
super_heroes.remove('Black Panther')
print(super_heroes)

['Super Man', 4, 'Black Panther']
['Super Man', 4]

In [17]:
#Adding it back

print(super_heroes.append('Black Panther'))
print(super_heroes)

None
['Super Man', 4, 'Black Panther']

In [18]:
#Assigning the list to another list. When you assign the list as a whole new list is not created. Only the refernce changes.
# Both the lists point to same memory location and change in reference reflects in other reference.

new_list = super_heroes
super_heroes.append('Black Widow')
print(new_list)

['Super Man', 4, 'Black Panther', 'Black Widow']

In [19]:
# Unique id of the list

print(id(super_heroes))

2021712599368

In [20]:
# Unique id of the list. You can observe both the lists have same unique id
print(id(new_list))

2021712599368

In [21]:
# When we subset a list and assign it to new list, then new list gets created.

new_list = super_heroes[:]
print(id(new_list))

2021712534984

In [22]:
#copy() creates a new list in the memory

another_list = super_heroes.copy()
print(id(another_list))

2021712534600

In [23]:
python_history = "Python has been in the industry for the last 3 decades. It pre-dates many of the modern programming languages."

In [24]:
#Split the string based on the default space. Result is list of strings

words_in_python_history = python_history.split(' ') 
print(words_in_python_history)

['Python', 'has', 'been', 'in', 'the', 'industry', 'for', 'the', 'last', '3', 'decades.', 'It', 'pre-dates', 'many', 'of', 'the', 'modern', 'programming', 'languages.']

In [25]:
python_history_more= "Python has been in the industry for the last 3 decades. It pre-dates many of the modern programming languages. Nice to know!"

In [26]:
#Split the string based on '.'

sentences_in_history = python_history_more.split('.')
print(sentences_in_history)

['Python has been in the industry for the last 3 decades', ' It pre-dates many of the modern programming languages', ' Nice to know!']

In [27]:
#Join the string elements in a list with " "

history = "#".join(sentences_in_history)
print(history)

Python has been in the industry for the last 3 decades# It pre-dates many of the modern programming languages# Nice to know!

In [28]:
#Join the elements in a list with " & "

history_new = " & ".join(sentences_in_history)
print(history_new)

Python has been in the industry for the last 3 decades &  It pre-dates many of the modern programming languages &  Nice to know!

In [29]:
# Print the element 5 times. But there wont be any change in the original list

my_list = ["Hi"]
print(my_list*5)
print(my_list)

['Hi', 'Hi', 'Hi', 'Hi', 'Hi']
['Hi']

In [30]:
#Add two lists

print(my_list + my_list)

['Hi', 'Hi']

In [31]:
# Number of elements in a list

nums = [2,6,9,3,2,1]
print(len(nums))

6

In [32]:
#Sort the list on natural ordering. 1,2,3... for numerics and A, B, C... a,b,c  for strings

print(sorted(nums))

[1, 2, 2, 3, 6, 9]

In [33]:
print(max(nums))

9

In [34]:
print(min(nums))

1

In [35]:
#Insert value at a given position

nums.insert(3, 5)
print(nums)

[2, 6, 9, 5, 3, 2, 1]

In [36]:
#Know the index of a particular value

print(nums.index(9))

2

In [37]:
# Reverse the values in a list

nums.reverse()
print(nums)

[1, 2, 3, 5, 9, 6, 2]

In [1]:
#Compare two lists
l1, l2=[2, 8, 0, 3], [2, 8, 0, 3]
print(l1 == l2)

True

In [3]:
l1 + l2

[2, 8, 0, 3, 2, 8, 0, 3]

In [39]:
#Compare two lists
l1, l2=[2, 8, 0, 3], [8, 2, 0, 3]
print(l1 == l2)

False

In [40]:
#Compare two lists
l1, l2=[2, 8, 0, 3], [8, 2, 0, 3]
print(l1.sort() == l2.sort())

True

In [41]:
# Access a particular element in a nested list. Here in this example it is 3-D list
# nest[1] will return second element(In this case another list) ans: [[5, 2, 9, 2], [7, 2, 0], [2, 5, 6]]
# nest[1][2] will return third element in the above list. ans: [2, 5, 6]
# nest[1][2][0] will return first element from the above list. ans: 2

nest = [[[1, 2, 3, 4], [ 5, 6, 7], [8, 9, 10]],[[5, 2, 9, 2], [ 7, 2, 0], [2, 5, 6]], [[1, 2, 3, 4], [ 5, 6, 7], [8, 9, 10]]]

print(nest[1])
print(nest[1][2])
print(nest[1][2][0])

[[5, 2, 9, 2], [7, 2, 0], [2, 5, 6]]
[2, 5, 6]
2

In [ ]:
print(nest[0][1])

In [42]:
print(nest[0:2])

[[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]], [[5, 2, 9, 2], [7, 2, 0], [2, 5, 6]]]

In [ ]:
#Lists are mutable. i.e. we can change the values in the list
nest[1][2] = [4, 8,0]
print(nest)

In [ ]:
nest[1][2][0] = 5
print(nest)

In [ ]:
#We can create a 2-D List from two 1-D lists

a = [2, 5, 0]
b = [1, 5, 8]
x = [a, b]
print(x)

In [ ]:
nest.index([])