### tuple

Tuples are similar to List except that Tuples are immutable i.e you can't change the values in a Tuple. They contain TRUE values.
They are surrounded by a paranthesis. Other than that the way we access tuples is similar to Lists.

In [ ]:
#Enclose the values in parentheses

basic_tuple = ("Sachin Tendulkar", 40, "Mumbai", 5.5)
print(basic_tuple[0])

In [ ]:
#Interesting way to create a tuple. We can create a tuple without parentheses though this practise is discouraged.

a = 2, 6, "Ram"
print(a)

In [ ]:
a[2]= 'Bheem'

In [3]:
#Another approach to create a tuple. You can observe output enclosed in parantheses i.e a tuple

b = 'Ram',
print(b)

('Ram',)

In [7]:
#Tuple packing

c = 'Babu', 5, 'Ram', 6
print(c)

('Babu', 5, 'Ram', 6)

In [8]:
#Tuple unpacking. Note that number of values left side of the tuple should be equal to thetotal number of values in the tuple.

x, y, z = c
print(x)
print(y)
print(z)

ValueError: too many values to unpack (expected 3)

In [13]:
#Convert tuple to list
b = list(c)
print(tuple(b))

('Babu', 5, 'Ram', 6)

In [10]:
cricketers_tuple = ("Rahul Dravid", "Saurav Ganguly", 42, 45) 
print(cricketers_tuple)

('Rahul Dravid', 'Saurav Ganguly', 42, 45)

In [11]:
another_tuple = cricketers_tuple
print(another_tuple)

('Rahul Dravid', 'Saurav Ganguly', 42, 45)

In [12]:
# You can't change the value in a tuple
another_tuple[1] = 43

TypeError: 'tuple' object does not support item assignment

In [14]:
sliced_tuple = cricketers_tuple[:-1]
print(sliced_tuple)
print(len(sliced_tuple))

('Rahul Dravid', 'Saurav Ganguly', 42)
3

In [15]:
listed_tuple = list(sliced_tuple)
print("listed_tuple is: {0}".format(listed_tuple))
listed_tuple= tuple(listed_tuple)
print("listed_tuple is now a tuple: {0}".format(listed_tuple))

listed_tuple is: ['Rahul Dravid', 'Saurav Ganguly', 42]
listed_tuple is now a tuple: ('Rahul Dravid', 'Saurav Ganguly', 42)

In [16]:
# You can add a list to tuple and change the values in that list

mytuple = (3, 7, 9, [89,45,67])
a = mytuple[3]
a[2] = 76
print(a)
mytuple[3][2] = 56
#print(mytuple[3][2])
#mytuple[2] =3
print(mytuple)

[89, 45, 76]
(3, 7, 9, [89, 45, 56])

In [17]:
#Add item in tuple

tuple1 = (4, 6, 7, 9)
tuple1 = tuple1+(8,)
print(tuple1)

(4, 6, 7, 9, 8)

In [18]:
tuple1.pop(1)

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
tuple1.help()

In [19]:
# Add more values to tuple

print(tuple1*2)

(4, 6, 7, 9, 8, 4, 6, 7, 9, 8)

In [20]:
# You can add a list to tuple and change the values in that list
tuple2 = ('Ram', 5, 9,[], 'Saif')
tuple2[3].append(89)
print(tuple2)

('Ram', 5, 9, [89], 'Saif')