## Sets

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. 

Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Pythonâ€™s set class represents the mathematical notion of a set. The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set

In [ ]:
cities_list = ['Bangalore','Hyderabad','Mysuru','Mumbai','Chennai','Hyderabad','Mysuru']

In [ ]:
#create a set

cities_list = set(cities_list)
print(cities_list)
type(cities_list)

In [5]:
new_citieslist = {'Amaravathi','Belagavi','Ranchi','Pune'}
print(new_citieslist)

{'Amaravathi', 'Ranchi', 'Belagavi', 'Pune'}

In [6]:
print(type(cities_list))

<class 'set'>

## Built-in Methods in Set


| Method Name | Use | Explanation |
|----|---|
| union | aset.union(otherset) | Returns a new set with all elements from both sets |
| intersection	| aset.intersection(otherset) |	Returns a new set with only those elements common to both sets |
|difference	|aset.difference(otherset)	|Returns a new set with all items from first set not in second|
|issubset|	aset.issubset(otherset)|		Asks whether all elements of one set are in the other|
|add|	aset.add(item)|	Adds item to the set|
|remove|	aset.remove(item)|	Removes item from the set|
|pop|	aset.pop()|	Removes an arbitrary element from the set|
|clear|	aset.clear()|	Removes all elements from the set|

In [7]:
# add an eleent to set

cities_list.add('Bhuvaneswar')
cities_list

{'Bangalore', 'Bhuvaneswar', 'Chennai', 'Hyderabad', 'Mumbai', 'Mysuru'}

In [8]:
print('Mumbai' in cities_list)

True

In [9]:
cities_list_2 = ['Bangalore','Delhi','Kolkata','Delhi','Mumbai','Bangalore']

In [10]:
cities_list_2 = set(cities_list_2)
print(cities_list_2)

{'Delhi', 'Kolkata', 'Mumbai', 'Bangalore'}

In [11]:
cities_list_2 - cities_list

{'Delhi', 'Kolkata'}

In [12]:
#Difference of two sets
cities_list - cities_list_2

{'Bhuvaneswar', 'Chennai', 'Hyderabad', 'Mysuru'}

In [13]:
cities_list

{'Bangalore', 'Bhuvaneswar', 'Chennai', 'Hyderabad', 'Mumbai', 'Mysuru'}

In [14]:
cities_list_2

{'Bangalore', 'Delhi', 'Kolkata', 'Mumbai'}

In [15]:
#Union of two sets

cities_list | cities_list_2

{'Bangalore',
 'Bhuvaneswar',
 'Chennai',
 'Delhi',
 'Hyderabad',
 'Kolkata',
 'Mumbai',
 'Mysuru'}

In [16]:
#Intersection of two sets

cities_list & cities_list_2

{'Bangalore', 'Mumbai'}

In [17]:
cities_list

{'Bangalore', 'Bhuvaneswar', 'Chennai', 'Hyderabad', 'Mumbai', 'Mysuru'}

In [18]:
cities_list_2

{'Bangalore', 'Delhi', 'Kolkata', 'Mumbai'}

In [19]:
#Cities in either list1 or list2 but not both

cities_list ^ cities_list_2

{'Bhuvaneswar', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata', 'Mysuru'}

In [20]:
#Intersection of two sets gives the common values in both the sets

print(cities_list.intersection(cities_list_2))

{'Mumbai', 'Bangalore'}

In [21]:
#Union of sets gives the unique values in both the sets

print(cities_list.union(cities_list_2))

{'Bhuvaneswar', 'Kolkata', 'Hyderabad', 'Chennai', 'Delhi', 'Mysuru', 'Bangalore', 'Mumbai'}

In [22]:
#Difference gives the values which are not common to both the sets

print(cities_list.difference(cities_list_2))

{'Chennai', 'Bhuvaneswar', 'Mysuru', 'Hyderabad'}

In [23]:
print(cities_list_2.difference(cities_list))

{'Delhi', 'Kolkata'}

In [24]:
new_cities = {'Amaravathi','Belgaum','Raigarh','Ranchi','Pune'}

In [25]:
print(new_cities)

{'Amaravathi', 'Ranchi', 'Pune', 'Raigarh', 'Belgaum'}

In [26]:
new_cities.remove('Pune')

In [27]:
new_cities

{'Amaravathi', 'Belgaum', 'Raigarh', 'Ranchi'}

In [28]:
new_cities.add('Bangalore')

In [29]:
new_cities

{'Amaravathi', 'Bangalore', 'Belgaum', 'Raigarh', 'Ranchi'}

In [30]:
new_cities.pop()

'Amaravathi'

In [31]:
new_cities

{'Bangalore', 'Belgaum', 'Raigarh', 'Ranchi'}

In [32]:
new_cities.pop()

'Ranchi'

In [34]:
new_cities.pop(1)
new_cities

TypeError: pop() takes no arguments (1 given)

In [35]:
new_cities.clear()
new_cities

set()